<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="body"></div>
    <div class="grad"></div>

    <div>
        <div class="static">
            @Html.ActionLink("Application name", "Index", "Home", null, new { @class = "logo" })
            <nav class="cl-effect-21" id="cl-effect-21">
                @Html.ActionLink("Login", "Index", "Home")
                @Html.ActionLink("About", "About", "Home")
                @Html.ActionLink("Contact", "Contact", "Home")
                @Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })
            </nav>  
        </div>
    </div>
    <div class="login">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    
    @RenderSection("scripts", required: false)
</body>
</html>
