@model DoorsSocialWeb.Models.ViewModels.LoggedInSharedLayoutViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href='http://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
    <title></title>
    @Styles.Render("~/Content/css")
    <script src="~/Scripts/Script.js"></script>
</head>
<body>
    <div id="openModal" class="modalDialog">
        <div>
            @using (Html.BeginForm("CreateGroupView", "LoggedIn", FormMethod.Post, new { role = "form" }))
            {
                <a href="#close" title="Close" class="close">X</a>
                <h1>Create a group</h1>
                <input type="hidden" name="ownerid" value="@Model.currentUser.Id" />
                
                <input type="text" name="groupname" />
                <textarea name="groupdescription"></textarea>
                <input type="submit" value="Create Group" />
            }
        </div>
    </div>
    <div class="header">
        <div class="loginLogo">
            <a href='@Url.Action("Index", "LoggedIn")'>
                <img src="http://www.ads.menn.is/logo.png" height="35">
            </a>
            </div>            
                @Html.ActionLink("Sign Out","Logoff","LoggedIn",null,new { @class = "logout" } )
            </div>

    <div class="leftPanel">
        <div id="groupHeader">
            <h4>Groups</h4>
        </div>
        <ul class="groupList">
        @if(Model.groups != null)
        {
            if(Model.groups.Count() == 0)
            {
                <p>You are not a member of any group!</p>
            }
            foreach(var m in Model.groups)
            { 
                <li>
                    <img src="http://www.ads.menn.is/groups.png" height="15">
                    @Html.ActionLink(m.groupName, "GroupView", "LoggedIn", new { id = m.ID }, new { @class = "aGroup" })
                </li>
            }
        }
        </ul>
        <div class="createGroup">
            <a href="#openModal"><h4>Create a Group</h4></a>
        </div>
      
    </div>

    <div class="rightPanel">
        <div class="profileSnippet">
            @if(Model.currentUser.displayImageUrl != null)
            {
                
                <a href="@Url.Action("Profile", "LoggedIn", new { id = Model.currentUser.Id })">
                    <img src="@Model.currentUser.displayImageUrl" alt="Theodor">
                </a>
                
            }
            else
            {
                <img src="http://fc07.deviantart.net/fs71/f/2012/357/7/7/profile_picture_by_ospider-d5ovoc2.jpg" alt="Theodor">

            }
            <h3> @Model.currentUser.displayName </h3>
        </div>
        <div class="breaker"></div>
        <div class="friendHeader">
            <div class="friendLabel"><h4>Friends</h4></div>
            <div class="friendCount"><h4>@Model.friends.Count()</h4></div>
        </div>
        <ul class="friendList">
            @if (Model.friends.Count() == 0)
            {
                <p>You dont have any friends.</p>
            }
            @foreach (var m in Model.friends)
            {
                <li>
                @if(m.displayImageUrl != null)
                {
                     <img src="@m.displayImageUrl" height="25" width="25">
                }
                else
                {
                     <img src="http://fc07.deviantart.net/fs71/f/2012/357/7/7/profile_picture_by_ospider-d5ovoc2.jpg" height="25" width="25">
                }
            @Html.ActionLink(m.displayName, "Profile", "LoggedIn", new { id = m.Id }, new { @class = "aFriend" })
                </li>
            }
        </ul>
    </div>
    <div class="modal fade" id="article-editor">
        <div class="modal-header">
            <a class="close" data-dismiss="modal">&times;</a>
            <h3>Title of the form</h3>
        </div>
        <div class="modal-body">
            <p>Body of the form</p>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn" data-dismiss="modal">Close</a>
            <a href="#" class="btn btn-primary">Save Changes</a>
        </div>
    </div>
    <div class="sharedContainer">
        @RenderBody()
    </div>
</body>
</html>
