@model DoorsSocialWeb.Models.ViewModels.LoggedInSharedLayoutViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href='http://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
    <title></title>
    @Styles.Render("~/Content/css")
    <script src="~/Scripts/Script.js"></script>

</head>
<body>
    <div class="header">
        <div class="loginLogo">
            <img src="http://www.ads.menn.is/logo.png" height="35">
        </div>

            @Html.ActionLink("Sign Out","Logoff","LoggedIn",null,new { @class = "logout" } )

    </div>

    <div class="leftPanel">
        <div id="groupHeader">
            <h4>Groups</h4>
        </div>
        <ul class="groupList">
        @if(Model.groups != null)
        {
            if(Model.groups.Count() == 0)
            {
                <p>You are not a member of any group!</p>
            }
            foreach(var m in Model.groups)
            { 
                <li>@m.groupName</li>
            }
        }
        </ul>
        <div class="createGroup">
            <h4>@Html.ActionLink("Create a Group", "CreateGroupView", "LoggedIn", null)</h4>
        </div>
      
    </div>

    <div class="rightPanel">
        <div class="profileSnippet">
            @if(Model.currentUser.displayImageUrl != null)
            {
                <img src="@Model.currentUser.displayImageUrl" alt="Theodor">
            }
            else
            {
                <img src="http://fc07.deviantart.net/fs71/f/2012/357/7/7/profile_picture_by_ospider-d5ovoc2.jpg" alt="Theodor">

            }
            <h3> @Model.currentUser.displayName </h3>
        </div>
        <div class="breaker"></div>
        <div class="friendHeader">
            <div class="friendLabel"><h4>Friends</h4></div>
            <div class="friendCount"><h4>@Model.friends.Count()</h4></div>
        </div>
        <ul class="friendList">
            @if (Model.friends.Count() == 0)
            {
                <p>You dont have any friends.</p>
            }
            @foreach (var m in Model.friends)
            {
                @Html.ActionLink(m.displayName, "Profile", "LoggedIn", new { id = m.Id }, new { @class ="" })
            }
        </ul>
    </div>
    <div class="modal fade" id="article-editor">
        <div class="modal-header">
            <a class="close" data-dismiss="modal">&times;</a>
            <h3>Title of the form</h3>
        </div>
        <div class="modal-body">
            <p>Body of the form</p>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn" data-dismiss="modal">Close</a>
            <a href="#" class="btn btn-primary">Save Changes</a>
        </div>
    </div>
    <div class="container">
        @RenderBody()
    </div>
</body>
</html>
