@model DoorsSocialWeb.Models.ViewModels.GroupViewModel

@{
    var groupMembers = Model.getGroupMembersByGroupId(Model.currentGroup.ID);
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>

    <div class="userheader">
        @foreach (var m in groupMembers)
        {
            <a href="@Url.Action("Profile", "Profile", new { id = m.Id })">
                <img src="@m.displayImageUrl" width="50px" height="50px" />
            </a>
        }
        
    </div>

    <div class="groupViewHeader">
        @if (Model.currentGroup.groupName != null && Model.currentGroup.groupName != "")
        {
            <h1>@Model.currentGroup.groupName</h1>
        }
        @if(Model.userIsMember(Model.currentUser.Id))
        {
            <p><a href="@Url.Action("leaveGroup", "Group", new { groupId = Model.currentGroup.ID })">Leave Group</a></p>
        }
        <p>@Model.currentGroup.groupDescription</p>
        
    </div>

    <div>
        @if ((!(Model.userIsMember(Model.currentUser.Id))) && Model.userIsPendingMember(Model.currentUser.Id) == false)
        {
            using (Html.BeginForm("requestToJoinGroup", "Group", FormMethod.Post))
            {
                <input type="hidden" name="userid" value="@Model.currentUser.Id" />
                <input type="hidden" name="groupid" value="@Model.currentGroup.ID" />
                <input type="hidden" name="groupOwner" value="@Model.currentGroup.groupOwnerID" />
                <input type="submit" value="Click me to request to join this group" />
            }
        }
        @if (Model.currentGroup.groupOwnerID == Model.currentUser.Id && Model.userIsMember(Model.currentUser.Id))
        {
            <!--ACCEPT USERS-->
            <!-- Búa til fall sem sækir öll request's-->
            <!-- og birtir þau hér, með html form sem hann getur samþykkt og þá vistast sá notandi í gagnagrunnin-->
            if (Model.pendingRequests(Model.currentGroup.ID) != null)
            {
                <!--Foreach skilar mér requestuserIds sem ég get acceptað sem ég converta í userdisplayname-->
                foreach (var m in Model.pendingRequests(Model.currentGroup.ID))
                {
                    if (@m.userIsApproved == false)
                    {
                        using (Html.BeginForm("ownerOfGroupAcceptsUsers", "LoggedIn", FormMethod.Post))
                        {
                            <input type="hidden" name="userid" value="@m.userRequestId" />
                            <input type="hidden" name="groupid" value="@Model.currentGroup.ID" />
                            <input type="hidden" name="groupOwner" value="@Model.currentGroup.groupOwnerID" />
                            <p>@Model.getUserByID(m.userRequestId).displayName</p>
                            <input type="submit" value="Accept this user" />
                        }
                    }
                }
            }
            <!-- Owner can only see this, and can create new topics-->
            using (Html.BeginForm("ownerOfGroupCreateNewTopic", "Group", FormMethod.Post))
            {
                <input type="hidden" name="groupid" value="@Model.currentGroup.ID" />
                <input type="hidden" name="ownerid" value="@Model.currentGroup.groupOwnerID" />
                <p>Topic name: </p>
                <input type="text" name="topicName" value="Topic name" />
                <input type="submit" value="addtopic" />
            }
        }
    </div>

    <div>
        @if ((Model.userIsApprovedMember(Model.currentUser.Id, Model.currentGroup.ID)))
        {
            
            if (Model.getPostsWithinGroup(Model.currentGroup.ID) != null)
            {
                foreach (var m in Model.getPostsWithinGroup(Model.currentGroup.ID))
                {
                    <div class="postContainer">
                        <div class="postDate">
                            <p style="font-weight: bold">@m.dateCreated</p>
                        </div>
                        <a href="@Url.Action("Profile", "Profile", new { id = m.authorID })">
                            <div class="postImage">

                                <img src="@Model.getAuthor(m.authorID).displayImageUrl" alt="Profile pic" />
                            </div>

                            <h1>@Model.getAuthor(m.authorID).displayName</h1>
                        </a>
                        @if (m.postIsImage != null && m.postIsImage == true)
                        {
                            <a href="@m.imageLink">
                                <img src="@m.imageLink" alt="Image pic" />
                            </a>
                        }
                        <div class="postText">
                            <p>@m.subject</p>
                        </div>
                        <div class="postLikes">
                            @if (@Model.getUsersWhoLikesPost(m.ID).Count() == 1)
                            {
                                <p id="likeCount">@Model.getUsersWhoLikesPost(m.ID).Count() person like's this</p>
                            }
                            else 
                            {
                                <p id="likeCount">@Model.getUsersWhoLikesPost(m.ID).Count() people like this</p>
                            }
                            
                        </div>
                        <div class="likebutton">
                            @if (Model.hasCurrentUserLikedPost(m.ID) == false)
                            {

                                <a href="@Url.Action("addLikeToPost", "LoggedIn", new {postId = m.ID})">Like</a>
                            }
                            else
                            {
                                <a href="@Url.Action("RemoveLikeFromPost", "LoggedIn", new {postId = m.ID})">Unlike</a>
                            }
                        </div>
                        @if(m.authorID == Model.currentUser.Id)
                        {
                            <a href="@Url.Action("DeletePost", "LoggedIn", new {postId = m.ID})">Remove Post</a>
                        }
                        
                        <div class="postComments">
                            @foreach (var c in Model.getCommentsForPost(m.ID))
                            {
                                <div class="commentContainer">
                                    <div class="commentDate">
                                        <p style="font-weight: bold">@c.dateCreated</p>
                                    </div>
                                    <a href="@Url.Action("Profile", "Profile", new { id = c.authorID })">
                                        <div class="commentImage">
                                                <img src="@Model.getAuthor(c.authorID).displayImageUrl" alt="Profile pic" />                                        
                                        </div>
                                        <h2>@Model.getAuthor(c.authorID).displayName</h2>
                                    </a>
                                    <div class="postText">
                                        <p>@c.subject</p>
                                    </div>
                                    @if(c.authorID == Model.currentUser.Id)
                                    {
                                        <a href="@Url.Action("removeCommentFromPost", "LoggedIn", new { commentId = c.ID })">Remove Comment</a>   
                                    }
                                </div>
                            }
                    
                        </div>
                        <div class="commentCreator">
                            @using (Html.BeginForm("addCommentToPost", "LoggedIn", FormMethod.Post))
                            {
                                <input type="hidden" name="userid" value="@Model.currentUser.Id" />
                                <input type="hidden" name="postid" value="@m.ID" />
                                <div class="createComment">
                                    <textarea name="subject" placeholder="Share your thoughts with your friends!"></textarea>
                                    <input type="submit" value="COMMENT" />
                                </div>
                            }
                        </div>
                    </div>
                }
            }
            else
            {
                <p>NoPostsToShow</p>
            }
        }
        else
        {
            <p>Not approved memeber, no posts to show.</p>
        }
    </div>

</body>
</html>
