@model DoorsSocialWeb.Models.ViewModels.IndexViewModel
@{
    
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    
    @using (Html.BeginForm("Post", "LoggedIn", FormMethod.Post, new { role = "form" }))
    {   
        <input type="hidden" name="userid" value="@Model.currentUser.Id" />
        <input type="hidden" name="datetime" value="@Model.datetime" />
        <textarea name="subject"></textarea>
        <input type="submit" value="Post" />
    }
    <div>
        <img src="@Model.currentUser.displayImageUrl" alt="Profile pic" width="80px" height="80px" />
        <h1>@Model.currentUser.displayName</h1>
        <p>
            Aubrey Drake Graham (born October 24, 1986),[1] who records under the mononym Drake, is a Canadian rapper, songwriter,
            record producer, and actor. He was born in Toronto, Ontario.[2] He first garnered recognition for his role as Jimmy
            Brooks on the television series Degrassi: The Next Generation.
        </p>
    </div>

    <p>Hér á að koma texti</p>
    <ul>
        @if (Model.posts != null)
        {
            if (Model.posts.Count() == 0)
            {
                <li>No Posts to show</li>
            }
            foreach (var m in Model.posts)
            {
                <li>@m.subject</li>
            }
        }
    </ul>
</body>
</html>
