@model DoorsSocialWeb.Models.ViewModels.IndexViewModel
@{
    
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    
    @using (Html.BeginForm("Post", "LoggedIn", FormMethod.Post))
    {
        <input type="hidden" name="userid" value="@Model.currentUser.Id" />
        <input type="hidden" name="datetime" value="@Model.datetime" />
        <div class="createPost">
            <textarea name="subject" placeholder="Share your thoughts with your friends!"></textarea>
            <input type="submit" value="POST" />
        </div>
    }
     
        @if (Model.posts != null)
        {
            if (Model.posts.Count() == 0)
            {
                <p>No Posts to show</p>
            }
            foreach (var m in Model.posts)
            {
                <div class="postContainer">
                    <div class="postDate">
                        <p style="font-weight: bold">@m.dateCreated</p>
                    </div>
                    <div class="postImage">
                        <a href="@Url.Action("Profile", "LoggedIn", new { id = m.authorID })">
                            <img src="@Model.getAuthor(m.authorID).displayImageUrl" alt="Profile pic" />
                        </a>
                    </div>
                        <h1>@Model.getAuthor(m.authorID).displayName</h1>
                    <div class="postText">
                        <p>@m.subject</p>
                    </div>
                    <div class="postLikes">
                        <p>@Model.getUsersWhoLikesPost(m.ID).Count()</p>
                    </div>
                    @if(Model.hasCurrentUserLikedPost(m.ID) == false)
                    {
                       
                        using (Html.BeginForm("addLikeToPost", "LoggedIn", FormMethod.Post))
                        {
                            <input type="hidden" name="userid" value="@Model.currentUser.Id" />
                            <input type="hidden" name="postid" value="@m.ID" />
                            <input type="submit" value="Like" />
                        }
                    }
                    
                    
                </div>
            }
        }
</body>
</html>
