@model DoorsSocialWeb.Models.ViewModels.IndexViewModel
@{
    
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    
    @using (Html.BeginForm("Post", "LoggedIn", FormMethod.Post, new { role = "form" }))
    {   
        <input type="hidden" name="userid" value="@Model.currentUser.Id" />
        <input type="hidden" name="datetime" value="@Model.datetime" />
        <textarea name="subject"></textarea>
        <input type="submit" value="Post" />
    }
    

    <p>Hér á að koma texti</p>
    <ul>
        @if (Model.posts != null)
        {
            if (Model.posts.Count() == 0)
            {
                <li>No Posts to show</li>
            }
            foreach (var m in Model.posts)
            {
                <div>
                    <img src="@Model.getAuthor(m.authorID).displayImageUrl"alt="Profile pic" width="80px" height="80px" />
                     <h1>@Model.getAuthor(m.authorID).displayName</h1>
                    <p>@m.dateCreated</p>
                    <p>@m.subject</p>
    </div>
            }
        }
    </ul>
</body>
</html>
