@model DoorsSocialWeb.Models.ViewModels.ProfileViewModel
@{
    
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>      
    <div id="editProfile" class="modalDialog">
        <div>
            @using (Html.BeginForm("EditProfile", "LoggedIn", FormMethod.Post, new { role = "form" }))
            {
                <a href="#close" title="Close" class="close">X</a>
                <h1>EditProfile</h1>
                <input type="hidden" name="ownerid" value="@Model.currentUser.Id" />

                <input type="text" name="groupname" />
                <textarea name="groupdescription"></textarea>
                <input type="submit" value="Create Group" />
            }
        </div>
    </div>



    <div class="profileHeader">
        <div class="profileImage">
                <img src="@Model.friend.displayImageUrl" alt="Profile pic" />
        </div>
        <h1>@Model.friend.displayName</h1>
        <div class="profileInformation">
            <ul>
                @if(Model.friend.displayAbout != null)
                {
                    <li>About: @Model.friend.displayAbout</li>
                }
                @if(Model.friend.displayEmail != null)
                {
                    <li>Email: @Model.friend.displayEmail</li>
                }
                @if (Model.friend.displayPhoneNumber != null)
                {
                    <li>PhoneNumber: @Model.friend.displayPhoneNumber</li>
                }
            </ul>
        </div>
        @if(Model.friend.Id == Model.currentUser.Id)
        {
            <a href="#editProfile"><h4>Edit my profile</h4></a>   
        }
    </div>    

    <br />
    @using (Html.BeginForm("Post", "LoggedIn", FormMethod.Post))
    {
        <input type="hidden" name="userid" value="@Model.currentUser.Id" />
        <input type="hidden" name="datetime" value="@Model.datetime" />
        <div class="createPost">
            <textarea name="subject" placeholder="Share your thoughts with your friends!"></textarea>
            <input type="submit" value="POST" />
        </div>
    }

        @if (Model.posts != null)
{
    if (Model.posts.Count() == 0)
    {
        <h1>There are no posts to show</h1>
    }
    foreach (var m in Model.posts)
    {
                <div class="postContainer">
                        <div class="postDate">
                            <p style="font-weight: bold">@m.dateCreated</p>
                        </div>
                        <div class="postImage">
                            <a href="@Url.Action("Profile", "LoggedIn", new { id = m.authorID })">
                                <img src="@Model.getAuthor(m.authorID).displayImageUrl" alt="Profile pic" />
                            </a>
                        </div>
                            <h1>@Model.getAuthor(m.authorID).displayName</h1>
                        <div class="postText">
                            <p>@m.subject</p>
                        </div>
                        <div class="postLikes">
                            <p>@Model.getLikesForPost(m.ID).Count()</p>
                        </div>
                    
                        @if(Model.hasCurrentUserLikedPost(m.ID) == false)
                        {
                       
                            using (Html.BeginForm("addLikeToPost", "LoggedIn", FormMethod.Post))
                            {
                                <input type="hidden" name="userid" value="@Model.currentUser.Id" />
                                <input type="hidden" name="postid" value="@m.ID" />
                                <input type="submit" value="Like" />
                            }
                        }
                    </div>
            }
        }

</body>
</html>
