@model DoorsSocialWeb.Models.ViewModels.ProfileViewModel
@{
    
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <h1>@Model.friend.displayName</h1>

        @if (Model.posts != null)
        {
            if (Model.posts.Count() == 0)
            {
                <li>No Posts to show</li>
            }
            foreach (var m in Model.posts)
            {
                <<div>
                    <img src="@Model.getAuthor(m.authorID).displayImageUrl" alt="Profile pic" width="80px" height="80px" />
                    <h1>@Model.getAuthor(m.authorID).displayName</h1>
                    <p>@m.dateCreated</p>
                    <p>@m.subject</p>
                </div>
            }
        }

    </div>
</body>
</html>
