@model DoorsSocialWeb.Models.ViewModels.MessageViewModel
@{
    ViewBag.Title = "Chat";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Chat with </title>]
</head>
<body>
    <div id="needToScroll">
        <div class="chat">
            <ul>
                @foreach (var m in Model.messagesWithUser)
                {
                    if (m.senderID == Model.currentUser.Id)
                    {
                        <li class="fromMe">
                            <img src="@Model.getAuthor(m.senderID).displayImageUrl" height="70" width="70" style="float: right;">
                            <div class="message">@m.subject</div>
                        </li>
                    }
                    else
                    {
                        <li class="toMe">
                            <img src="@Model.getAuthor(m.senderID).displayImageUrl" height="70" width="70">
                            <div class="message" style="margin-left: 90px">@m.subject</div>
                        </li>
                    }

                }
            </ul>
            @using (Html.BeginForm("SendNewMessage", "Profile", FormMethod.Post, new { id = "messageForm" }))
            {
                <input type="hidden" name="senderId" value="@Model.currentUser.Id" />
                <input type="hidden" name="recieverId" value="@Model.messageReciever.Id" />
                <input type="text" name="subject" />
                <button>SEND</button>
                <iframe name="target" id="target"></iframe>
            }
        </div>
    </div>
</body>
</html>
