@model DoorsSocialWeb.Models.ViewModels.ProfileViewModel
@{
    string profileDiv;
    if(Model.friend.Id == Model.currentUser.Id)
    {
        profileDiv = "ownProfileHeader";
    }
    else
    {
        profileDiv = "profileHeader";
    }
    
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>      
    <div id="editProfile" class="modalDialog">
        <div>
            @using (Html.BeginForm("EditProfile", "Profile", FormMethod.Post))
            {
                
                
                <a href="#close" title="Close" class="close">X</a>
                <h1>EditProfile</h1>
                <input type="hidden" name="ownerid" value="@Model.currentUser.Id" />
                <table class="editInfo">
                    <tr>
                        <td>
                            Display Name:
                        </td>
                        <td>
                            <input type="text" name="displayname" value="@Model.currentUser.displayName" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Display About:
                        </td>
                        <td>
                            <textarea name="about">@Model.currentUser.displayAbout</textarea>
                        </td>
                    </tr>
                    
                    <tr>
                        <td>
                            Display Email:
                        </td>
                        <td>
                            <input type="text" name="displayemail" value="@Model.currentUser.displayEmail" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Display Phone:
                        </td>
                        <td>
                            <input type="text" name="displayphone" value="@Model.currentUser.displayPhoneNumber" />
                        </td>
                    </tr>
                </table>
                <input type="submit" value="Submit changes" class="editProfileBtn"  />
            }
        </div>
    </div>
    <div class="@profileDiv">
        <a href="@Url.Action("Conversation", "Profile", new { messageRecieverId = Model.friend.Id })"></a>
        <div class="profileImage">
            <a href="@Model.friend.displayImageUrl">
                <img src="@Model.friend.displayImageUrl" alt="Profile pic" />
            </a>
            @if(Model.friend.Id == Model.currentUser.Id)
            {
            <div class="changeImage">
                <form action="" method="post" enctype="multipart/form-data">

                    <label for="file">Change display image</label>
                    <input type="file" name="file" id="file" />

                    <input type="submit" />
                </form>
            </div>
            }  
        </div>
        <h1>@Model.friend.displayName</h1>
        
        <div class="profileInformation">
            <ul>
                @if (Model.friend.displayAbout != null && Model.friend.displayAbout != "")
                {
                    <li>About: @Model.friend.displayAbout</li>
                }
                @if (Model.friend.displayEmail != null && Model.friend.displayEmail != "")
                {
                    <li>Email: @Model.friend.displayEmail</li>
                }
                @if (Model.friend.displayPhoneNumber != null && Model.friend.displayPhoneNumber != "")
                {
                    <li>PhoneNumber: @Model.friend.displayPhoneNumber</li>
                }
            </ul>
        </div>
        <div>
            @if ((!Model.userIsFriend(Model.friend.Id)) && (Model.friend.Id != Model.currentUser.Id))
            {
                if(!(Model.isUserPendingRequest(Model.friend.Id)))
                {
                    using (Html.BeginForm("requestFriendship", "Profile", FormMethod.Post))
                    {
                        <input type="hidden" name="userid" value="@Model.currentUser.Id" />
                        <input type="hidden" name="friendid" value="@Model.friend.Id" />
                        <input type="submit" value="Request Friend" />
                    } 
                }
                else
                {
                    <p>Request has been sent</p>
                }

            }
            else if ((Model.userIsFriend(Model.friend.Id)) && (Model.friend.Id != Model.currentUser.Id))
            {
                using (Html.BeginForm("removeFriend", "Profile", FormMethod.Post))
                {
                    <input type="hidden" name="userid" value="@Model.currentUser.Id" />
                    <input type="hidden" name="friendid" value="@Model.friend.Id" />
                    <input type="submit" value="Remove Friend" />
                }
            }
        </div>
        
        @if(Model.friend.Id == Model.currentUser.Id)
        {
            <a href="#editProfile"><h4>Edit my profile</h4></a>   
        }
        
    </div>    
    <br />
    @if (Model.posts != null)
    {
        if(Model.userIsFriend(Model.friend.Id) || Model.friend.Id == Model.currentUser.Id)
        {
            if(Model.friend.Id == Model.currentUser.Id)
            {
                using (Html.BeginForm("Post", "LoggedIn", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <input type="hidden" name="userid" value="@Model.currentUser.Id" />
                    <div class="createPost">
                        <textarea name="subject" placeholder="Share your thoughts with your friends!"></textarea>
                        <div class="fileUpload">
                            <input type="file" name="file" id="file" class="upload" />
                        </div>
                        <input type="submit" value="POST" />
                    </div>
                }
            }
            
            else
            {
                using (Html.BeginForm("wallPostFromFriend", "Profile", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <input type="hidden" name="recipientUserId" value="@Model.currentUser.Id" />
                    <input type="hidden" name="userId" value="@Model.friend.Id" />
                    <div class="createPost">
                        <textarea name="subject" placeholder="Post on your friends wall !"></textarea>
                        <div class="fileUpload">
                            <input type="file" name="file" id="file" class="upload" />
                        </div>
                        <input type="submit" value="POST" />
                    </div>
                }
            }
            
            if (Model.posts.Count() == 0)
            {
                <h1>There are no posts to show</h1>
            }

            else
            {
                foreach (var m in Model.posts)
                {
                    <div class="postContainer">
                            <div class="postDate">
                                <p style="font-weight: bold">@m.dateCreated</p>
                            </div>
                            <div class="postImage">
                                <a href="@Url.Action("Profile", "Profile", new { id = m.authorID })">
                                    @if (m.recipientId != null)
                                    {
                                        <img src="@Model.getAuthor(m.recipientId).displayImageUrl" alt="Profile pic" />
                                    }
                                    else
                                    {
                                        <img src="@Model.getAuthor(m.authorID).displayImageUrl" alt="Profile pic" />
                                    }
                                </a>
                            </div>
                            @if (m.recipientId != null)
                            {
                                <h1>@Model.getAuthor(m.recipientId).displayName</h1>
                            }
                            else
                            {
                                <h1>@Model.getAuthor(m.authorID).displayName</h1>
                            }
                            @if (m.postIsImage != null && m.postIsImage == true)
                            {
                                <a href="@m.imageLink">
                                    <img src="@m.imageLink" alt="Image pic" />
                                </a>
                            }
                            <div class="postText">
                                <p>@m.subject</p>
                            </div>
                            <div class="postLikes">
                                @if (@Model.getUsersWhoLikesPost(m.ID).Count() == 1)
                                {
                                    <p id="likeCount">@Model.getUsersWhoLikesPost(m.ID).Count() person like's this</p>
                                }
                                else
                                {
                                    <p id="likeCount">@Model.getUsersWhoLikesPost(m.ID).Count() people like this</p>
                                }
                            </div>
                    
                            @if (Model.hasCurrentUserLikedPost(m.ID) == false)
                            {

                                <a href="@Url.Action("addLikeToPost", "LoggedIn", new {postId = m.ID})">Like</a>
                            }
                            else
                            {
                                <a href="@Url.Action("RemoveLikeFromPost", "LoggedIn", new {postId = m.ID})">Unlike</a>
                            }
                        </div>
                }
            }
            
        }
    }
</body>
</html>
